.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.button-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}
button{
    margin: 0px 30px;
    min-width: 100px;
    min-height: 40px;
    border: 1px solid #071E22;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
button:hover{
    background-color: #CED8DE;
}