.App{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.App > h1{
    font-weight:700;
    
}
.not-started{
    
    margin-top: 250px;
}
.started{
    animation-name: MoveUp;
    animation-duration: 1s;
    margin-top:50px;
}
@keyframes MoveUp {
    from  {margin-top:250px;}
    to { margin-top:50px;}
}